ai-reserves-manager/N8N/Aplazar_Tareas.json
{
  "name": "Aplazar Tareas",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.textPlain }}"
            },
            {
              "content": "=El siguiente es un mensaje de respuesta de correo de un usuario a quien se le notificó una tarea. Tu objetivo es entender si el usuario solicita aplazar la tarea y cuántos días. El usuario puede utilizar términos como \"mañana\" o \"pasado mañana\" y debes entenderlo como una fecha relativa donde significan una cantidad de días. Si lo hace, responde con este JSON:\n\n{\n  \"accion\": \"aplazar\",\n  \"dias\": 5\n}\n\nSi no se entiende o no hay una acción clara, responde con:\n\n{\n  \"accion\": \"ninguna\"\n}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "5ce90ebf-a408-4978-a024-a1a89f2fbf1d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HNIPrVd8jw4cjUpL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const openai = JSON.parse($json.message.content);\n\nif (openai.accion !== 'aplazar' || !openai.dias) {\n  return []; // No hay acción\n}\n\n// Obtener el subject del correo original\nconst subject = $('Email Trigger (IMAP)').first().json.subject;\n\n// Expresiones regulares posibles para extraer el nombre de la tarea\nconst patrones = [\n  /completar (.+)$/i,                      // Recuerda completar <Tarea>\n  /Tarea retrasada:\\s*(.+)$/i,            // Tarea retrasada: <Tarea>\n  /Tarea próxima a vencer:\\s*(.+)$/i      // Tarea próxima a vencer: <Tarea>\n];\n\nlet nombreTarea = null;\n\nfor (const regex of patrones) {\n  const match = subject.match(regex);\n  if (match) {\n    nombreTarea = match[1].trim();\n    break;\n  }\n}\n\nif (!nombreTarea) {\n  throw new Error(\"No se pudo extraer el nombre de la tarea del subject.\");\n}\n\n// Calcular nueva fecha\nconst dias = parseInt(openai.dias);\nconst nuevaFecha = new Date();\nnuevaFecha.setDate(nuevaFecha.getDate() + dias);\n\n// Formatear como \"Month Day, Year\"\nconst options = { year: 'numeric', month: 'long', day: 'numeric' };\nconst nuevaFechaFormatted = nuevaFecha.toLocaleDateString('en-US', options);\n\n// También dejamos disponible la fecha en ISO para actualizar Notion si se necesita\nconst nuevaFechaISO = nuevaFecha.toISOString().split('T')[0];\n\n// Devolvemos nombre de la tarea + ambas fechas\nreturn [\n  {\n    json: {\n      nombreTarea,\n      nuevaFecha: nuevaFechaFormatted,\n      nuevaFechaISO\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "54288c3a-266e-48b3-8a5a-696bfb2324bb",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "209bf92b-baac-8032-9ce1-ea6d8d74b6af",
          "mode": "list",
          "cachedResultName": "Tareas del Equipo",
          "cachedResultUrl": "https://www.notion.so/209bf92bbaac80329ce1ea6d8d74b6af"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1020,
        0
      ],
      "id": "7d8a2f9a-8847-4789-b741-098453912e7d",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "GgHWJCiQf1mi942T",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "text": "={{ $('Code').item.json.nombreTarea }}",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1240,
        0
      ],
      "id": "3c78389b-caa7-4f67-a658-5f749479744a",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "GgHWJCiQf1mi942T",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Fecha límite|date",
              "includeTime": false,
              "date": "={{ $('Code').item.json.nuevaFechaISO }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1460,
        0
      ],
      "id": "2353e8c1-a4c3-4346-88fb-54ec871dc8f4",
      "name": "Notion2",
      "credentials": {
        "notionApi": {
          "id": "GgHWJCiQf1mi942T",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a829e623-070a-438b-98ab-a147d2b5ce8e",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "nbvTLR6GQjV8puNj",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "Nico.arangor@gmal.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.metadata['return-path'] }}",
        "subject": "={{ $('Notion2').item.json.name }} fue aplazada ",
        "emailFormat": "text",
        "text": "=La actividad {{ $('Notion2').item.json.name }} fue aplazada exitosamente para la fecha: {{ $('Code').item.json.nuevaFecha }}. \n\nDetalles de la actividad:\nNombre: {{ $('Notion2').item.json.name }}\nFecha Entrega: {{ $('Notion2').item.json.property_fecha_l_mite.start }}\nDías Restantes: {{ $('Notion2').item.json.property_tiempo_restante }}\nPrioridad: {{ $('Notion2').item.json.property_prioridad }}\nResponsable(s): {{ $json.property_responsable }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1680,
        0
      ],
      "id": "560b277b-8d02-40ef-8cd3-f180136922e4",
      "name": "Send Email",
      "webhookId": "e2560b9f-aaa9-4fb3-a7b3-6a5c0ba52c5e",
      "credentials": {
        "smtp": {
          "id": "wSDS4e3Co47R5KAD",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1294ba4-a5a0-4c0b-9240-047aaabd83db",
              "leftValue": "={{ $json.from }}",
              "rightValue": "n.arangor",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "827f74dc-7224-487c-aea8-16281e19dc88",
              "leftValue": "={{ $json.from }}",
              "rightValue": "d.benavidess",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "722b78e2-6545-4e55-a58c-e7c1a0b27f58",
              "leftValue": "={{ $json.from }}",
              "rightValue": "s.rozen",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "63a30cde-53f9-4bc2-a6ff-5d60459dba76",
      "name": "If"
    }
  ],
  "pinData": {
    "Email Trigger (IMAP)": [
      {
        "json": {
          "textHtml": "<html>\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\r\n</head>\r\n<body>\r\n<div>\r\n<div dir=\"ltr\">Aplázala para mañana&nbsp;</div>\r\n</div>\r\n<div id=\"ms-outlook-mobile-body-separator-line\" dir=\"auto\"><br>\r\n</div>\r\n<div id=\"ms-outlook-mobile-signature\">\r\n<div style=\"font-family: -apple-system, HelveticaNeue; color: rgb(0, 0, 0);\"><span style=\"background-color: rgb(255, 255, 255);\">Atentamente,</span></div>\r\n<div dir=\"ltr\" style=\"text-align: left; text-indent: 0px; background-color: rgb(255, 255, 255); font-family: -apple-system, HelveticaNeue; color: rgb(0, 0, 0);\">\r\n<br>\r\n</div>\r\n<div style=\"font-family: -apple-system, HelveticaNeue; color: rgb(0, 0, 0);\"><span style=\"background-color: rgb(255, 255, 255);\">Nicolás Arango R - 202220342</span></div>\r\n<div dir=\"ltr\"><br>\r\n</div>\r\n</div>\r\n<hr style=\"display:inline-block;width:98%\" tabindex=\"-1\">\r\n<div id=\"divRplyFwdMsg\" dir=\"ltr\"><font face=\"Calibri, sans-serif\" style=\"font-size:11pt\" color=\"#000000\"><b>From:</b> nico.arangor@gmail.com &lt;nico.arangor@gmail.com&gt;<br>\r\n<b>Sent:</b> Monday, June 9, 2025 12:54:24 AM<br>\r\n<b>To:</b> Nicolas Arango Ramos &lt;n.arangor@uniandes.edu.co&gt;<br>\r\n<b>Subject:</b> Tarea próxima a vencer: Definir Infraestructura</font>\r\n<div>&nbsp;</div>\r\n</div>\r\n<div class=\"BodyFragment\"><font size=\"2\"><span style=\"font-size:11pt;\">\r\n<div class=\"PlainText\">Hola,<br>\r\n<br>\r\nLa tarea &quot;Definir Infraestructura&quot; vence en 0 día(s).<br>\r\n<br>\r\nPor favor, tómalo en cuenta.<br>\r\n<br>\r\nSaludos,<br>\r\nEquipo de gestión <br>\r\n</div>\r\n</span></font></div>\r\n</body>\r\n</html>\r\n",
          "textPlain": "Aplázala para mañana\r\n\r\nAtentamente,\r\n\r\nNicolás Arango R - 202220342\r\n\r\n________________________________\r\nFrom: nico.arangor@gmail.com <nico.arangor@gmail.com>\r\nSent: Monday, June 9, 2025 12:54:24 AM\r\nTo: Nicolas Arango Ramos <n.arangor@uniandes.edu.co>\r\nSubject: Tarea próxima a vencer: Definir Infraestructura\r\n\r\nHola,\r\n\r\nLa tarea \"Definir Infraestructura\" vence en 0 día(s).\r\n\r\nPor favor, tómalo en cuenta.\r\n\r\nSaludos,\r\nEquipo de gestión\r\n",
          "metadata": {
            "delivered-to": "nico.arangor@gmail.com",
            "received": "by 2002:a59:db88:0:b0:4d4:f537:2353 with SMTP id z8csp1985224vqc; Sun, 8 Jun 2025 22:55:00 -0700 (PDT)",
            "x-google-smtp-source": "AGHT+IGIdE1/JoP2NXyyUnP4H9qpyP4RyhVMcfGmAkdwMMSDGtnljJ1dHv2I9HW6Qzy6KmEkBf9x",
            "x-received": "by 2002:a05:6871:890:b0:2d0:4a2c:7c22 with SMTP id 586e51a60fabf-2ea008896c1mr7140907fac.18.1749448499889; Sun, 08 Jun 2025 22:54:59 -0700 (PDT)",
            "arc-seal": "i=2; a=rsa-sha256; t=1749448499; cv=pass; d=google.com; s=arc-20240605; b=CvKNmo1RilXFyWVJG+SkoIpksvJA9VP0SKFZgvhWih/3p013VGCpZ6wKWrloP0AcW1 ZEAP9cK9XXJyYC61OwOQ6FLesln/BNrOJtfE6y+iKFPST1pfw5JYJ+JiiANwDOca4bEx mU0umbvoyKV1nt3VHOovTnibbfixgCsnrWKcPsd+CHISdDygWEKjZoxFy+SlrTPbfzGs 8oe1mcpT9y8awm+Arq57sGPINwcSD1PiGAL5Tm8OIBMbEazZ0sqEB4cSqHeSQKjGvMEU enxieVY6ej8nme+1k/uDNvnz9Fiw8cwEWMKRBXvCBJpZDszOo3mnpOgNBP3gRWlub3uT wHvA==",
            "arc-message-signature": "i=2; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605; h=mime-version:content-language:accept-language:in-reply-to :references:message-id:date:thread-index:thread-topic:subject:to :from:dkim-signature; bh=nEFXLuRCW5FFN1B7az9Kho4oEVZK65iZF6Q/gNVVjDM=; fh=yP6a391U671BkxLQSKNAUYDPcdwUPukjQSMCSP7HX0M=; b=AFcpbPouIoZSDV1mekMWsK8kKdGEJTgnMzkUd35u/KsX0ZfmgLpJdMauw5GVIRtG8N +BIKDJmTbSJRejjkoYH5Q+23yfpwQqvPM5aHfHwq0NhGvlrTbB4nVQxSSbUbWZcEjNlx yWc496HJJhxMHUWlZYPu/+WFFmfvQVe+rI3CF4vdignSN5bopyVoaF+DoIknBzP+UMGF SJcfVxgTWIIXZ2OZhcBGVa37pAWiJdWDIo2PQG+VpLUjjcOZQ/R5iHoOnK/wFxaY6H6T AskiKohY6PwIOFBrNZ0WPu0HhDoSycsTl0CmYap8ZEcwxRSmBNCpYe7cABc2aZ4gcneM fyDg==; dara=google.com",
            "arc-authentication-results": "i=2; mx.google.com; dkim=pass header.i=@uniandes.edu.co header.s=selector1 header.b=d11pxu1A; arc=pass (i=1 spf=pass spfdomain=uniandes.edu.co dkim=pass dkdomain=uniandes.edu.co dmarc=pass fromdomain=uniandes.edu.co); spf=pass (google.com: domain of n.arangor@uniandes.edu.co designates 2a01:111:f403:c110::2 as permitted sender) smtp.mailfrom=n.arangor@uniandes.edu.co; dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=uniandes.edu.co",
            "return-path": "<n.arangor@uniandes.edu.co>",
            "received-spf": "pass (google.com: domain of n.arangor@uniandes.edu.co designates 2a01:111:f403:c110::2 as permitted sender) client-ip=2a01:111:f403:c110::2;",
            "authentication-results": "mx.google.com; dkim=pass header.i=@uniandes.edu.co header.s=selector1 header.b=d11pxu1A; arc=pass (i=1 spf=pass spfdomain=uniandes.edu.co dkim=pass dkdomain=uniandes.edu.co dmarc=pass fromdomain=uniandes.edu.co); spf=pass (google.com: domain of n.arangor@uniandes.edu.co designates 2a01:111:f403:c110::2 as permitted sender) smtp.mailfrom=n.arangor@uniandes.edu.co; dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=uniandes.edu.co",
            "dkim-signature": "v=1; a=rsa-sha256; c=relaxed/relaxed; d=uniandes.edu.co; s=selector1; h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-SenderADCheck; bh=nEFXLuRCW5FFN1B7az9Kho4oEVZK65iZF6Q/gNVVjDM=; b=d11pxu1AocEcP30Irbb4d/GPg7W4qzsjsR9x41VgmP5NTilYzwK32bgJftQ9J12KEUfxtx602HBLp/xYtv3y6dSHu7B9bUx/svajEpwyio45zm/EQ07M6X46Is1rXMaLkO2wXWlUFbwsN9iJ0inAShD63eDlvUxzk/EFn11iRyqSAubUdjHoLo8JNCVn6u+siAyZ1nBtFIro2XOyBSvjksioZzmPuaJqU/DvV13xmNPFVR1rwpzuyKq+EyI+RM7vKTU5a1+mpeIS3jBguujaEaBZmXkTy3/ZF98fdHfK1TB/xB0Hv4MCCO5+ZInMedI1xXvxS3C4QHQtu3RYgPuRGg==",
            "thread-topic": "Tarea próxima a vencer:  Definir Infraestructura",
            "thread-index": "AQHb2QL42TC6RsbThk220+xsqGtNBrP6U/1w",
            "message-id": "<SN4PR0801MB782303ED427C88BFD3B0F080AB6BA@SN4PR0801MB7823.namprd08.prod.outlook.com>",
            "references": "<2f150b47-4093-5012-97f0-08c469ad15f5@gmail.com>",
            "in-reply-to": "<2f150b47-4093-5012-97f0-08c469ad15f5@gmail.com>",
            "accept-language": "en-US",
            "content-language": "en-US",
            "x-ms-has-attach": "",
            "x-ms-tnef-correlator": "",
            "x-ms-reactions": "allow",
            "x-ms-publictraffictype": "Email",
            "x-ms-traffictypediagnostic": "SN4PR0801MB7823:EE_|BN0PR08MB7309:EE_",
            "x-ms-office365-filtering-correlation-id": "558f0f5a-a5d5-48ae-c64a-08dda71a27f5",
            "x-ms-exchange-senderadcheck": "1",
            "x-ms-exchange-antispam-relay": "0",
            "x-microsoft-antispam": "BCL:0;ARA:13230040|366016|376014|1800799024|8096899003|38070700018|7053199007;",
            "x-microsoft-antispam-message-info": "TPKvXIQlINngcoIXrVL4lrLiKd37EeyAE2PZrhkTs84nWOpcQ65BDV4sbfmNkDpSDKRudJmw5DWSZN5RFG3/jTv1q1sU48sEYt++OfVkeevz9npFpglQpzKjP02C2m3dzjIDmYh9/lZ+P9Q+yQMWJQGBXLJhQGNpW8xdMaj1lbUgr8p7Hrb7XLKttNOLSo+LDRkrzCTQIk1U51F7pvE+ctPdTGfyjaC/GRc/4N8tvCDP347ma4CMDDlJcgBalz/GgMLVYCsyR0l0v+YKW23in9hS6BswaiQZt5GMKrr00EIu7GjyhtAHwhYuAJG0pRBsW3oUCu5ECj9MRDOrCsTgEaOAiQ5w2aUqWOAz5RsU5w9H0aKS6a6WTRx4IzXIifrzV2tWHXIp9pgIT9k1ncMDH4arfgcC12K0Tth+M4To6cHS8wW4OpkVOp2NC22OEsAOLwfd2yXsXHss0kDSNDPtFPPrXie2vexbWI4ZZPeyO4GPEJOju90MLo8/6V+wkrCjH5y1+2AgkXZ8WcKgyvuy3/EYwnMg895mSNJ+qEBP59ghdSZRJtnp+uetrXPMkraaw2lm8cHwjfYcFzRhdX67XAbwg6G8dH8ygmOGPLlsJhFyGCG+7BTsjqmHZvPhBSn3IwuLpzzS4zd6rn+b6Z8qitxZZwjl2voTKUPyJ3cRqPk/Y9C6afn5xTiTAs4oPw17EsAb187vTHGZCf7i2jRSMyha8Dt2K5/xErs1AHVRttL+GIXcsczW+WaJTnE0N/fxDI5YcInUY03wLUpC2Cj4ptuLid5zelPcNxnmLuJHPWkAezJiQAQaPvm51YF4TnTo6bxIBhlHN8azhVDfBzffWuj5OJp0EB3/dZwwt7FAgm4AItCTQ7ykeV/7N7Gq2hqwunyXOWH2ft15YKCm43fqJt+X7G9xLdRcUCw71JhoIwZQ7aLoc1+fdm5g/tbNesVq/Q8stxfJwctXIWZkN0Ym0dg8gkEnT6WzmRfWqhPGF5yUCCbBkP4I25EkuE+Mm59o9Zb7EzTGBft6YtTgFARTvd1ULQuM+4QBawNL7X/Db2lNKeuxNkE3RQ4sU/fzxDrKaN9itZM6t5Nk23Z/+sk7XP1bIMyNJVIRJhqAqQGLKd8T8Bn67cLhdSHTNaf+PhD7TSvVQ/9s1Ub7YobDX1WnRFE7tVjOfCLrfsFercjfcmxU+PIsy2TQMtjyiiE5W2lXbqM5y9WeTV60UUgaytA/fMNdjT4CD6vorno41qNFgF4BWtt3iLzfvuH5JqQ5RZOla8UjoA3AiVsbpB9H7IMngofcgG7NrXOKTwUperkp90IcC4xzHquEGG2VWgHfmIo9vWNquzBGMgyqXgcMUtfUKWrY/rIgzCbnINl4dgv7uK7ERnV3rjiPz18Vm6fofTef/YY4/j6TC6rJNO2tz9WNbZSIAR7LGJMVTHo4+q9V8326W70KcsyvopE8kn9X4pgbKoUx2Qu7BPh4ojt3PbsuwA==",
            "x-forefront-antispam-report": "CIP:255.255.255.255;CTRY:;LANG:es;SCL:1;SRV:;IPV:NLI;SFV:NSPM;H:SN4PR0801MB7823.namprd08.prod.outlook.com;PTR:;CAT:NONE;SFS:(13230040)(366016)(376014)(1800799024)(8096899003)(38070700018)(7053199007);DIR:OUT;SFP:1102;",
            "x-ms-exchange-antispam-messagedata-chunkcount": "1",
            "x-ms-exchange-antispam-messagedata-0": "krqtKZmerZtuU+ZJAk583y/jz1/Y2CUxt13cn2TxuMSoqbnWu7IGaVihl92Ax077kcSnNJcVNX3kY/u/k8oFbPvtPrpblySuqgUI3hq6VEM+yv5twbmGTV94aVmRGKS4PYRQB6dYZLyFOU+2zMa/Zy8PC6JHaoW91xKyVKurMvjIX9Ed30/qAUooMQiGtZZUnitBJJrzY2WWktLTOe9c+K732rFu/4YuYFtEilKjQANn8hcNbiXIVQ5W6NatYk2vpkeGH22crntIuTBeQCDRBoCXHugg8maVESJTtERcTTO81Vqbdnfg4X9XJMKgv/vfwmcpJLoRSY7DlzvhcA2rOwOnx85PUDrnF8KDm9L+ce9HWmd+Y0FZs6VcAS+2GtuG9HnsijsQVULH94axpJPiQ3418KmfnMZHmm0E14HDXfmPuxhZMQYpstakKBNQ88IH1qNlkMp1ezSGsPmBlD2r1LjOqLDYzd/B72Fk8JqB556AbPxZQbYN9UDKaDSgK0IdbLGdyQDO08fZeAmV76GAVOezKmckbDU6oPXDBOjZyx+z5gA585ItS01hmH5JTzifAYD64W6wHoKqUgOoc80AQuxfzA4chld43S+3TjlZo6kjiePj1x3sbfDBGSxWr5IhoUnCtg7IoC2Uo5OjLPew7KkHwTwTjkd0lJhA73ATe4fqYWgZPJhiLT24E9d3bafDSxpcROSFnDNDAeBi37ffNWGzmuEUXVam9XYZMey/VaWzOPysdIXsJOve0TPFhQnUSdlivTDQEe9iSAtA9ibcibOtDxbNj3mIvNTZJWOmQ0UOeK+Tk7d3VVKmYyLVk/WdKmewooU407sHBTcqSsAvdhP20MZGoPLqWYZ4lMRJgicJNGxuViX+bp+BF1d3ObT8S91a4ajmenBI1E4eetrCAAISLj2rhUcEUeK3J/xBMNyid5s51PRWc1uhq1fuRLo4riKarKyVpYO4GijKhiropYr/bREBPmfFzYmuAm67WdsRW8o9/4+m4pG1Ivve+jBrUNxhlO0V8riRfXwliKsfp349Tai1wb9kW+e9OOn9uGwekoApS4kqhnvI+bmAFj8xVARODCu10REbAmaOwiuJx6VF6Iu/GcKoeW9dufRKkFWqtGtNfCdpAjsIoYd8vK09JfwtCzimFHx7UrsWBIGEaNqxNJR8sRxS8I0d+62WC2thGPWQn9/amrdov3kP/3o+uKs787jHAKw95ia3Kxou+Kw4R/9dXDodpD2XlYlrZ5oi+Rekxqj3LG8OkKVFAKFyzJH20I6Py47DV/QkBZO1k3oeYhOhZPBaEoftZRAijk5hsYowBSCw6qQ49xbk0YKVVX+KJZ3Hzwr/9eEZTfPZl4ZUaVOQYM08R9MAyxK0B4Ycl+IpeNxpTanjS0owsZpPWkcO1U+KVcOPGUV8GEARYLx9zMvt3xharI2Le0QTCdtPCGKS88FbzR/mY0no6mweDoOZa/fAEeNrWb41BeDNt0JICoS7HIGRKiY3UWwd1XmGiDpt7h9SF6MmtrCixWHGt3gMejTKSz180b/8Z6/yQs6G58VPmPJxLpA+IpUVnoG5vCT/iEpNsmXfZM0ujhLR7ivFGKLqSzFe+P+v1iYXVg==",
            "content-type": "multipart/alternative; boundary=\"_000_SN4PR0801MB782303ED427C88BFD3B0F080AB6BASN4PR0801MB7823_\"",
            "mime-version": "1.0",
            "x-originatororg": "uniandes.edu.co",
            "x-ms-exchange-crosstenant-authas": "Internal",
            "x-ms-exchange-crosstenant-authsource": "SN4PR0801MB7823.namprd08.prod.outlook.com",
            "x-ms-exchange-crosstenant-network-message-id": "558f0f5a-a5d5-48ae-c64a-08dda71a27f5",
            "x-ms-exchange-crosstenant-originalarrivaltime": "09 Jun 2025 05:54:53.7856 (UTC)",
            "x-ms-exchange-crosstenant-fromentityheader": "Hosted",
            "x-ms-exchange-crosstenant-id": "fabd047c-ff48-492a-8bbb-8f98b9fb9cca",
            "x-ms-exchange-crosstenant-mailboxtype": "HOSTED",
            "x-ms-exchange-crosstenant-userprincipalname": "qCKDdjDBO3D+pvtpZU685kUfElXIZA8lokjGplASMsbn6oxcfEifZka1oEWcVR85C9slTQ7RoMeU2GAZzDaZ1Hsrt5P52+mZZYcDGVc1tCA=",
            "x-ms-exchange-transport-crosstenantheadersstamped": "BN0PR08MB7309"
          },
          "attributes": {
            "uid": 28862
          },
          "from": "Nicolas Arango Ramos <n.arangor@uniandes.edu.co>",
          "to": "\"nico.arangor@gmail.com\" <nico.arangor@gmail.com>",
          "subject": "Re: Tarea próxima a vencer:  Definir Infraestructura",
          "date": "Mon, 9 Jun 2025 05:54:53 +0000"
        }
      }
    ]
  },
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5934c576-5ff7-49de-a9a4-1067226405ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb3ca1bce5ae7fa5540a065e0e1b5421116b9278928493a416f122ebdb2f81d1"
  },
  "id": "Wt5mu2EAZqm5SlUY",
  "tags": []
}